# Binarios compilados de C++ (mismo nombre que el .cpp, sin extension)
BFS
bellman-ford
dijkstra
dijkstra2
dijkstra3
dijkstra4
kruskal
kruskal2
kruskal3
prim2
primm
practica1
practica2
practica3
practica4
practica5
practica6
practica7
practica8
practica9
practica13
practica14
practica15
practica16
practica17
practica18
practica30
practica34
practicas10
practicas11
problema1
problema2
problema3

# Artefactos de build comunes
*.o
*.out
*.exe
a.out
